<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="676bab">  <td>21/12/21 00:37:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.elementsUi()[pri:0, instance:com.mavenpackage.MavenJava.SeleniumTest@28f2a10f]">elementsUi</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="a5dfb9">  <td>21/12/21 00:37:19</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestAPITest.postJira()[pri:0, instance:com.mavenpackage.MavenJava.RestAPITest@1b1426f4]">postJira</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>21/12/21 00:37:19</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumTest.NativeAppAndroid()[pri:0, instance:com.mavenpackage.MavenJava.AppiumTest@f736069]">NativeAppAndroid</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="a5dfb9">  <td>21/12/21 00:37:19</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestAPITest.deleteTwitter()[pri:0, instance:com.mavenpackage.MavenJava.RestAPITest@1b1426f4]">deleteTwitter</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="e5eea7">  <td>21/12/21 00:37:19</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumTest.IOSApps()[pri:0, instance:com.mavenpackage.MavenJava.AppiumTest@f736069]">IOSApps</td> 
  <td>main@1754444726</td>   <td></td> </tr>
<tr bgcolor="676bab">  <td>21/12/21 00:37:19</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.BrowseAutomationUi()[pri:0, instance:com.mavenpackage.MavenJava.SeleniumTest@28f2a10f]">BrowseAutomationUi</td> 
  <td>main@1754444726</td>   <td></td> </tr>
</table>
