<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.mavenpackage.MavenTest1.FirstScenario1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>automationpractice4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automationpractice3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automationpractice2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>automationpractice1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
