<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5dfb9">  <td>21/12/25 02:23:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario1.automationpractice1()[pri:0, instance:com.mavenpackage.MavenTest1.FirstScenario1@6d4e5011]">automationpractice1</td> 
  <td>main@1833789138</td>   <td></td> </tr>
<tr bgcolor="a5dfb9">  <td>21/12/25 02:24:51</td>   <td>65566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario1.automationpractice2()[pri:0, instance:com.mavenpackage.MavenTest1.FirstScenario1@6d4e5011]">automationpractice2</td> 
  <td>main@1833789138</td>   <td></td> </tr>
<tr bgcolor="a5dfb9">  <td>21/12/25 02:25:00</td>   <td>74980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario1.automationpractice3()[pri:0, instance:com.mavenpackage.MavenTest1.FirstScenario1@6d4e5011]">automationpractice3</td> 
  <td>main@1833789138</td>   <td></td> </tr>
<tr bgcolor="a5dfb9">  <td>21/12/25 02:25:10</td>   <td>84371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstScenario1.automationpractice4()[pri:0, instance:com.mavenpackage.MavenTest1.FirstScenario1@6d4e5011]">automationpractice4</td> 
  <td>main@1833789138</td>   <td></td> </tr>
</table>
